<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Shop Homepage - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!">Start Bootstrap</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!" th:href="@{/}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#!" th:href="@{/shop}">Shop</a></li>
            </ul>

            <div sec:authorize="isAuthenticated()">
                Hi, <span sec:authentication="name"></span>

                <form action="#" th:action="@{/logout}" method="post">
                    <input type="submit" value="Logout">
                </form>

            </div>

            <div sec:authorize="isAnonymous()">
                <form action="#" th:action="@{/myLogin}" method="get">
                    <input type="submit" value="Login">
                </form>
            </div>

            <form class="d-flex" action="#" th:action="@{/cart}" method="get">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                </button>
            </form>
        </div>
    </div>
</nav>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Number of Items</th>
        <th></th>

    </tr>
    </thead>

    <tbody>
    <tr th:each="item : ${cart.getItems()}">

        <td th:text="${item.getName()}" />
        <td th:text="'$' + ${item.getPrice()}" />
        <td th:text="${item.getCount()}" />

        <!--<img th:src="@{${'/img/' + players.id +'_'+ players.name + '.png'}}" width="120"/>-->
        <!--<td>
            <a th:href="@{/cart/addItemToCart(productId=${product.id})}"
               class="btn btn-info btn-sm">Add to Cart
            </a>
        </td>-->

    </tr>
    </tbody>
</table>




<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
